/* General styling */
.App {
  font-family: Arial, sans-serif;
}

.app-header {
  text-align: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
}

.app-header input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 50px;
}

.event-list {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

/* Responsive grid for desktop, tablet, and mobile */
@media (min-width: 1024px) {
  .event-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .event-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .event-list {
    grid-template-columns: 1fr;
  }
}

/* Event card styling */
.event-card {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.event-card h3 {
  margin: 0.5rem 0;
}

/* Modal Styling */
/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.modal-content {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
} */

/* Ensure padding on small devices */
@media (max-width: 767px) {
  .app-header {
    padding: 0.5rem;
  }
  .modal-content {
    padding: 1rem;
  }
}
